.testing {
  width: 71.42857%; }

body {
  background-color: #a4a4a4; }

.container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.wrapper {
	display: grid;
	grid-row:  1fr 1fr 1fr;
	grid-column: auto 100px minmax(auto, 1000px);
}
